<%- include('partials/head')%>
<%- include('partials/nav')%>

EDIT PAGE

<form action="/blog/<%= post._id %>/?_method=PUT" method="POST">
    <label for="post-title">Title</label><br>
    <input type="text" id="post-title" name="post-title" value="<%= post.title%>"><br>

    <label for="post-body">Content</label><br>
    <textarea name="post-body" id="post-body" cols="30" rows="10"><%= post.body %></textarea><br>
    <button type="submit ">Submit</button>
</form>

<%- include('partials/foot')%>