<%- include('partials/head')%>
<%- include('partials/nav')%>

<h1 class="text-green-400 underline">HOME PAGE</h1>


<% allPosts.forEach(x=>{ %>
    <h1><a href='/blog/<%= x._id%>'><%= x.title%></a></h1>
<% }) %>

<%- include('partials/foot')%>