<%- include('partials/head')%>
<%- include('partials/nav')%>

SHOW PAGE

<h1><%= post.title %></h1>
<p><%= post.body %></p>

<form action="/blog/<%= post._id%>/?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<a href="/blog/<%= post._id%>/edit">Edit</a>

<%- include('partials/foot')%>